.navicon {
	font-size: 18px;
}

body {
	padding-top: 50px;
}

t {
	font-size: 16px;
	font-weight: bold;
}

.anchor {
	padding-top: 50px;
}

em {
	color: #3E8EA8;
	font-style: normal;
}

.job {
	padding-top: 8px;
}

.job hr {
	margin-top: 10px;
	margin-bottom: 10px;
}


@media (max-width: 768px) {
	.date {
		text-align: left;
	}


	.googlelogo {
		display: inline-block;

	}

	.googlelogos {
		text-align: center;
		.inboxlogo {
			margin-left: 15px;
		}
	}
}

ul {
	padding-left: 16px;
}

.contacticon {
	font-size: 24px;
	text-align: center;
	color: #222222;
	display: inline-block;
	vertical-align: middle;
}

.contactlink {
	color: #222222;
	display: inline-block;
	vertical-align: middle;
	padding-left: 10px;
}

.navbar-name {
	color: #D3D3D3;
	float: left;
	height: 50px;
	padding: 15px 15px;
	font-size: 18px;
	line-height: 20px;
	opacity: 50%;
}

.navbar-name:hover,
.navbar-name:focus {
  text-decoration: none;
  color: #fff;
  background-color: transparent;
}

@media (min-width: 768px) {
  .navbar > .container .navbar-name,
  .navbar > .container-fluid .navbar-name {
    margin-left: -15px;
  }
}

.header {
	background-color: #777777;
	color: #ffffff;
	padding: 10px 0px;
	font-size: 20px;
	margin-bottom: 10px;
}

.divider-vertical {
height: 50px;
margin: 0 9px;
border-left: 1px solid #F2F2F2;
border-right: 1px solid #FFF;
}

.label {
	/*default label*/
	background-color: #777777;
}

.label-unused { /*can delete these if youre sure you've changed your mind*/
	.label-java {
		background-color: #8F0000; /*#CD0000;*/
	}

	.label-javascript {
		background-color: #E55C53; <!--#9CD4DF;*/
	}

	.label-python {
		background-color: #35709F; /*#FFDC51*/
	}

	.label-django {
		background-color: #44B78B;
	}

	.label-bootstrap {
		background-color: #5B4282;
	}

	.label-aspectj {
		background-color: #F7941E; /*#F7941E*/
	}

	.label-html {
		background-color: #FECC66;
	}
	.label-git {
		background-color: #F44D27;
	}
}